<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="header">
        <div id="header-left">
          <img src="images/logo.jpg" alt="">
        </div>
        <div id="header-middle">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="login.html">Login</a></li>
            </ul>
        </div>
        <div id="header-right">
            <img src="images/ring.gif" alt="">
        </div>
    </div>
    <div id="content"></div>
    <div id="footer"></div>
</body>
</html>